{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un joueur
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="">
		<h1 class="">Modif d'un joueur</h1>
		{% include 'Backend/Joueur/_form.html.twig' %}
	</section>
{% endblock %}
