<form method="post" action="{{ path('admin.artillerie.delete', {'id':artillerie.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette Arti ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artillerie.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
