{% extends "base.html.twig" %}

{% block title %}
	Modifier une Artillerie
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Modifier une Artillerie</h1>

		{% include "Backend/Artillerie/_form.html.twig" with {button_label: 'Modifier'} %}
		<a href=" {{ path('app_artillerie_index') }}" class="">
			Retour à la liste</a>
	</section>
{% endblock %}
