{% extends "base.html.twig" %}

{% block title %}
	Crée une Artillerie
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1 class="">Crée une Artillerie</h1>

		{% include "Backend/Artillerie/_form.html.twig" with {button_label: 'Créer'} %}
		<a href=" {{ path('admin.artillerie.index') }}" class="">
			Retour à la liste</a>
	</section>
{% endblock %}
