<form method="post" action="{{ path('app.grade.delete', {'id':grade.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce Grade ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grade.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
