{% extends "base.html.twig" %}

{% block title %}
	Crée un Grade
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1 class="">Crée un Grade</h1>

		{% include "Backend/Grade/_form.html.twig" with {button_label: 'Créer'} %}
		<a href=" {{ path('app.grade.index') }}" class="">
			Retour à la liste</a>
	</section>
{% endblock %}
