$primary: #8797B1;
$secondary: #ABC0DC;
$tertiary: #212528;

$autre1: #6E7683;
$autre2: #585E6B;

$barckground: #b9b9b9aa;

$white: #f5f5f5;

$border-radius-header: 25px;
$border-radius: 5px;

$purpul: #9900FF;
$bleu: #4A86E8;
$green: #6AA84F;
$yellow: #F1C232;
$red: #EB0B0B;

