{% extends "baselog.html.twig" %}

{% block title %}
	Se connecter
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Se connecter</h1>

		<button>Connexion</button>
	</section>
{% endblock %}
