{% extends "baselog.html.twig" %}

{% block title %}
	Créer un compte
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Créer un compte</h1>

		<button>S'inscrire</button>
	</section>
{% endblock %}
