@media (min-width: 767px) and (max-width: 1023px) 
{
    .titre {
        font-size: 5rem;
        color: #333;
    }
    .pad {
        padding: 15px;
    
    }
    
    .Ltitre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom:50px ;
        margin-bottom: 10px; 
    }
    
    .ins-con {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    
    .inscription {
       
        background-color: #8797b1;
        color: $white;
        font-size: 25px;
        padding: 2vh 15vw ;
      
    }
    
    .connexion {
        
        background-color: #212528;
        color: $white;
        font-size: 25px;
        padding: 2vh 15vw ;
    } 
}