<footer>
	<nav>
		<div>
			<ul class="footernav">
				<li>
					<a href="" class="">
						Mention legal et droit d'utilisation
					</a>
				</li>
				<li>
					<img src="{{asset('image/Homeless.png')}}" alt="Logo Homeless">
				</li>
				<li>
					{# <a href="{{path('app.contact')}}" class="">Contact</a> #}
					contact
				</li>
			</ul>
		</div>
	</nav>
</footer>
