<header>
	<nav>
		<div>
			<a href="#">HOMELESS</a>
			<div>
				<ul>
					<li><ahref="{{ path('app.register') }}">Inscription</a></li>
					<li><ahref="{{ path('app.login')}}">Connexion</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
