<header>
	<nav>
		<div class="Ltitre">
			<img class="pad" src="{{asset('image/Homeless.png')}}" alt="Logo Homeless">
			<a href="#" class="titre pad">HOMELESS</a>
		</div>
		<div>
			<ul class="ins-con">
				<li>
					<a href="{{path('app.register')}} " class="inscription">Inscription</a>
				</li>
				<li>
					<a href="{{path('app.login')}} " class="connexion">Connexion</a>
				</li>
			</ul>

		</div>
	</nav>
</header>
